
        body,
        body * {
            margin: 0;
            padding: 0;
            vertical-align: top;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', 
            Calibri, 'Trebuchet MS', sans-serif;
        }
        
        .background {
            display: inline-block;
            width: 100%;
            height: 100vh;
            background-image: url(../pic.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            -webkit-filter: blur(8px);
            filter: blur(8px);

        }

        .container {
            display: inline-block;
            width: 1000px;
            /height: 200px;/
            background-color: aquamarine; 
            margin-left: calc( (100% - 1000px) / 2);
            margin-top: -85vh;

            position: relative;
            
        }
        .left-side {
            display: inline-block;
            width: 40%;
            background-color: blue;
            color: #fff;
            padding: 50px;
            padding-bottom: 25px;

            background-image: url(../pic.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;

            position: absolute;
            top: 30px;
            /*left: 0;*/
            bottom: 30px;
                       

        }
            .left-side > h1 {
                display: inline-block;
                color: #fff;
                width: 100%;

            }
            .left-side > div {
                display: inline-block;
                width: 100%;

                position: absolute;
                bottom: 20px;
                left: 50px;
            
            }

                .left-side > div > a {
                    display: inline-block;
                    color: #fff;
                    
                }
                .left-side > div > span {
                    display: inline-block;
                    color: #fff;
                    
                }
                  
        .right-side {
            display: inline-block;
            width: 60%;
            padding: 80px;
            float: right;
            background-color: white;
            font-size: 20px;
         
        }

        .right-side > .close {
            display: inline-block;
            color: black;
            width: 80px;
            height: 80px;
            font-size: 40px;
            color: grey;
            text-align: center;
            padding-top: 10px;
            
            position: absolute;
            top: 0;
            right: 0;

        }

        form {
            display: inline-block;
            width: 100%;

        }
        form > .form-row {
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;

        }
        form > .form-row > label {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-size: 14px;
            color: grey;
            
        }
        form > .form-row > input {
            display: inline-block;
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 1px solid grey;
            
        }
        form > .form-row:last-child {
            margin-bottom: 0px;

        }
        
        form > .form-row > span {
            margin-left: 10px;
            margin-right: 10px;

        }